body {
    height: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.header-container{
    display: flex;
    padding: 15px;
    background-color: #ffffff;
}

.logo{
    padding-top: 10px;
    display: flex;
    flex-flow: row;
    padding-left: 10%;
}
.logo-img{
    width: 15%;
}
.logo-name{
    margin-left: 3%;
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    color: #008CFF;
    text-transform: uppercase;
}
.second-line {
    color: #42515F;
}

* { box-sizing: border-box;}

.form-content{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

form{
    align-content: center;
    width: 60%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    opacity: 1;
}

.form-head{
    border-radius: 8px;
    display: flex;
    flex-flow: row;
    padding-top: 10px;
    padding-bottom: 8px;
    background: #008CFF 0% 0% no-repeat padding-box;
    opacity: 1; 
}

.form-title{
    padding-left: 33%;
    padding-top: 11px;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    flex-grow: 4;
}


.cancel-button{
    padding-top: 8px;
    flex-grow: 1;
    padding-bottom: 2px;
}

@media screen and (max-width: 450px){
    .form-title{
        padding-left: 20px;
        font: 24px;
    }
    form{
        width:90%;
    }
}