@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css2?family=Roboto);
body {
    height: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.header-container{
    display: flex;
    padding: 15px;
    background-color: #ffffff;
}

.logo{
    padding-top: 8px;
    display: flex;
    flex-flow: row;
    padding-left: 10%;
}
.logo-img{
    padding-top: 2px;
    justify-self: center;
    padding-bottom: 3px;
}
.logo-name{
    margin-left: 6%;
    text-align: left;
    font: normal normal bold 20px/23px Montserrat;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    color: #008CFF;
    text-transform: uppercase;
}
.second-line {
    color: #42515F;
}

* { box-sizing: border-box;}

.content{
    width: 85%;
    margin: auto;
}

.content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}

.header-txt {
    text-align: left;
    font: normal normal bold 26px/23px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
    margin: auto 0;
}

.add-button {
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #008CFF 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    
}

table{
    margin-top: 3%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 800px;
}

tr:not(:first-child){
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    background: #FFFFFF 0% 0% no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 5px;
}

th{
    text-align: left;
    font: normal normal bold 18px/22px Lato;
    letter-spacing: 0px;
    color: #658292;
    text-transform: capitalize;
    opacity: 1;
    padding-left: 50px;
}

td{
    text-align: left;
    font: normal normal 100 17px/22px Lato;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
    background-color: white;
    padding: 15px 5px 15px 50px;
}

td:last-child{
    padding: 15px 5px 15px 20px;
}

.delete-icon{
    margin-right: 0.8em;
}

.table-main {
    overflow: auto;
}

.no-contact-notification{
    text-align: center;
    margin-top: 100px;
    color: rgb(156, 9, 9);
}
